@{
  Layout = "_Layout";
}

@using GameStore.Models;
@model IEnumerable<GameStore.Models.Game>

<div class = "jumbotron jumbotron-fluid">
  <h1>Avaiable games</h1>
  <h3>Did you remember you can turn in your games for in store credit?</h3>
</div>

@if (Model.Any())
{
<ul>
  @foreach(Game game in Model)
  {
    <li>@Html.ActionLink($"{game.Name}", "Details", new{id=game.GameId})</li>
  }
</ul>
}
else
{
  <h3>No games in stock!</h3>
}


<p class = "btn btn-outline-dark">@Html.ActionLink("Add a game", "Create")</p>
<p class = "btn btn-outline-dark">@Html.ActionLink("Home", "Index", "Home")</p>
