@{
  Layout = "_Layout";
}

<div class = "container">
<h1>Welcome to GameStore</h1>
<h3>In store credit only</h3>
<h4>Turn in your games for store credit ;)</h4>
</div>

<p class = "btn btn-outline-dark">@Html.ActionLink("See available games", "Index", "Games")</p>
<p class = "btn btn-outline-dark">@Html.ActionLink("View users", "Index", "Users")</p>